{% set types = ['String', 'Int', 'Float', 'Boolean', 'Id'] %}

package main

import (
	"github.com/graphql-go/graphql"
)

{% for class in classes -%}
var {{ class.name }}Type = graphql.NewObject(
     graphql.ObjectConfig{
        Name: "{{ class.name }}",
        Fields: graphql.Fields{
            {% for attr in class.attrs %}
                "{{ attr.name }}": &graphql.Field{
                    {% if attr.type in types -%}
                        Type: graphql.{{ attr.type }},
                    {% elif attr.type.startswith("List")  -%}
                        Type: graphql.NewList(graphql.{{ attr.type.replace("List", "") }}),
                    {% else -%}
                        Type: {{ attr.type }},
                    {% endif -%}
                },
            {%- endfor %}
        },
    },
)
{% endfor %}
